/* .card-transparent {
  margin: 150px auto;
}

.card {
  margin: 50px auto;
}

.card h4 {
  border-bottom: 5px solid #0068ad;
  padding: 20px 0;
}

.about {
  margin-bottom: 10px;
}

.profile {
  float: left;
  margin-right: 15px;
  border-radius: 50%;
}


@media screen and (max-width: 768px) {
  .card {
    margin: 20px auto;
    width: 100%;
  }
  .profile {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
} */

.mediaBody {
  margin-left: 25px;
  overflow: auto;
  font-size: 12px;
  padding-right: 30px;
}

.about {
  margin: 50px auto 200px auto;
  
  background: rgba(61, 61, 61, 0.212);
  color: whitesmoke;
  overflow: auto;
  
}

.profileImg {
  margin-left: 20px;
}

@media (min-width: 956px) {
  .profileImg {
    height: 275px;
    width: 275px;
  }

  .mediaBody {
    font-size: 14px;
  }

  .about {
    border-radius: 15px;
    margin: 100px auto;
  }
}
